@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
}

.photo {
  width: 250px;
  height: 300px;
  margin: 0 40px;
  border: 4px solid;
  border-radius: 10px;
}

.photo:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.name {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  text-shadow: rgb(0, 255, 255) 0.2em 0.2em 0.3em;
}

.house {
  font-size: 1.3rem;
}
